<form [formGroup]="form" (ngSubmit)="send()">
  
<div class="mb-3 row">
  <label for="id" class="col-sm-2 col-form-label">Id</label>
  <div class="col-sm-10">
    <input  class="form-control" id="inputPassword" formControlName="id">
  </div>
</div>
<fieldset [disabled]="boton">
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Autor</label>
  <div class="col-sm-10">
    <input class="form-control" id="inputPassword" formControlName="author">
  </div>
</div>
</fieldset>
<fieldset [disabled]="boton">
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Género</label>
  <div class="col-sm-10">
    <input  class="form-control" id="inputPassword" formControlName="gender">
  </div>
</div>
</fieldset>
<fieldset [disabled]="boton">
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Descripción</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputPassword" formControlName="description">
  </div>
</div>
</fieldset>
<button class="btn btn-primary">{{nameCom}}</button>
</form>